<ng-container *ngIf="selectedRecpie;else noSelected">
    <div class="row">
        <div class="col-12">
            <img [src]="selectedRecpie.imagePath" alt="" style="width: 300px;" class="img-responsive rounded-2">
        </div>
    </div>
    <div class="row d-flex justify-content-between mt-2 align-items-center">
        <div class="col-8">
            <h2 class="mb-0">{{selectedRecpie.name | uppercase}}</h2>
        </div>
        <div class="col-4">
            <div class="dropdown w-100">
                <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                    Manage Recipe
                </button>
                <ul class="dropdown-menu w-100">
                    <li><a class="dropdown-item" (click)="addToList()">To shopping list</a></li>
                    <li><a class="dropdown-item" [routerLink]="['../',param,'edit']">Edit</a></li>
                    <li><a class="dropdown-item" (click)="delete()">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
           <strong>Description: </strong>{{ selectedRecpie.description }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <div class="list-group-item" *ngFor="let item of selectedRecpie.ingredients">
                    {{item.name}} : {{item.amount}}
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noSelected>
    <p>No Recpie Selected</p>
</ng-template> 